body{
    display:flex;
    justify-content: center;
}
nav{
    background-color: #fbf7e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%/50%;
    width: 80vw;
    padding: 2vw;
}


nav button{
    display: flex;
    padding: 1vw 2vw;
    justify-content: center;
    background-color: #ffdf7f;
    border-radius: 25%/50%;
    font-size: 1.5vw;
    border: none;
}
#shop{
    padding: 2vw 2vw;
 }

#shop img{
    width: 2em;
    padding-right: 2vw;
}
.cart 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 20%;
    overflow: hidden;
    width: 400px;
    background-color: #fbf7e3;
}
.cart img{
  width:600px;
}
.cart_sezione{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #612406;
}
.testo h3{
   margin-bottom: 0;
   font-weight: 700px;
}
.testo p{
    margin-top: 0;
    padding-left: 1vw;
}
.prezzo{
    margin-left: 1em;
}
.cart button{
    margin-bottom: 2vh;
    border: none;
    border-radius: 25%/50%;
    background-color: #f3df85;
    padding: 1em 2em;
    color: #843b06;
}
article{
    display: flex;
    background-color: #fbf7e3;
    flex-direction: column;
    width: 80vw;
    padding: 5vw;
    border-radius: 5px;
}
article img{
    width: 80vw;
}
@media screen  and (min-width: 768px) {
    article{
        flex-direction: row;
    }
    article div{
        order: 2;
        margin-left: 2vw;
    }
    article img{
        order: 1;
        width: 50%;
    }
}