* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #666666;
    font-family: 'Indie Flower';
    }

#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.postit {
    width: 300px;
    height: 230px;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 10px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
    padding: 4rem;
    transition: 0.5s ease;
}

.yellow {
    background: linear-gradient(#fafbc9 80%, #c1c3879c);
    rotate: -5deg;
}

.green {
   background: linear-gradient(#C1ECC3 80%, #799c7ba9);
   rotate: 7deg;
}

.purple {
    background: linear-gradient(#C5C5F0 80%, #7d7da7a8);
    rotate: -8deg;
}

.postit h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.8em;
}

.postit p {
    font-size: 28px;
}

.postit:last-child {
    rotate: 2deg;
}

.postit:nth-child(2) {
    rotate: 4deg;
}

.postit:hover {
    transform: scale(1.2,1.2);
    rotate: 0deg;
    box-shadow: rgba(0, 0, 0, 0.6) 15px 15px 25px, rgba(0, 0, 0, 0.6) 10px 10px 10px;
}
#post-1{
    animation-name: discesa;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 #post-2{
     animation-name: discesa;
    animation-duration: 1.3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 #post-3{
     animation-name: discesa;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 #post-4{
     animation-name: discesa;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 #post-5{
     animation-name: discesa;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 #post-6{
     animation-name: discesa;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 #post-7{
     animation-name: discesa;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 #post-8{
     animation-name: discesa;
    animation-duration: 1.3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
 @keyframes discesa{
     0% {opacity: 0%;transform:scale(1.1);}
     50% {opacity: 0%;transform:scale(1.1);}
     100% {opacity: 100%; transform:scale(1);}
 }