
*{
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Bree Serif';
}

#testoAlternato {
    padding: 20px 150px 20px 20px;
    border: 2px solid gray;
    line-height: 1.5em;
}

.parole {
    color: #6C8799;
    position: relative;
}

.parole i {
    position: absolute;
    top: 0;
    animation: slide 6s infinite;
    color: transparent;
    width: 150px;
    margin-left: 10px;
}

@keyframes slide {
    0% {
        color: transparent; top: -20px;
    }
    25% {
        color: #6C8799; top: 0;
    }
    50% {
        color: transparent; top: 20px;
    }
}

.parole i:nth-child(2) {
    animation-delay: 2s;
}

.parole i:last-child {
    animation-delay: 4s;
}
