main{
    margin: 2vh 15vw;
    display: flex;
    justify-content: space-between;
    div{
        width: 40vw;
    }
    aside{
        width: 20vw;
        ul{
            justify-content: center;
            list-style: none;
            li{
                padding-left: 15px;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: dashed;
                border-color: rgba(0, 0, 0, 0.233);
            }
        }
    }
}