@import 'header';
@import 'footer';
@import 'main';

*{
    box-sizing: border-box;
}

i{
    color:  #f27934;
}
button{
    padding: 5px;
    background-color: #ffa500;
    color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}