@import 'button';
@import 'variables';
body {
    background-color: $colore_sfondo;
    margin: $margin_doc;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        color: $color_text;
    }
    #logo{
        font-weight:900;
        font-size: 2rem;
       }
    li {
    display: inline;
    margin-right: 2vh;
    align-items: center;
    
    }
}

#container {
    display: flex;
    margin-top: 20vh;

#text {
    display: flex;
    flex-direction: column;
    width: 60vw;
    #button{
        button:nth-child(1){
        height: 40px;
        width: 15vh;
        background-color: #3269f7;
        text-decoration: none;
        color: #e5c7f7;
        border-radius: 5px;
        a{
            text-decoration: none;
            color: #e5c7f7;
        }
        }
        button:nth-child(2) {
        height: 40px;
        width: 7vh;
        background-color: #f08d37;
        border-radius: 5px;
        a{
            text-decoration: none;
            color: #e5c7f7;
        }
        }
    }

}

    #img {
        display: flex;
        width: 40vw;
       
    }
}


img{
    width: 100%;
}
a{
    text-decoration: none;
    
}